# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
project.lock.json
*.nuget.props
*.nuget.targets

# Node
node_modules/
dist/
.turbo/
.vite/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.local
.env.*.local
appsettings.Production.json

# Docker
docker-compose.override.yml

# Logs
logs/
*.log
npm-debug.log*
